/* Dimensions de page */
body {
    margin:30px;
    display:flex;
    flex-direction:column;
}

#block_page {
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

/* Partie supérieure de la page: titre, filtres, navigation */
header {
    width:95%;
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

#top {
    border:1px solid grey;
}
#nav {
    border:1px solid grey;
}

/* Contenu de la page: photos */
section {
    width:95%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
#hos_pop {
    margin: 15px 0 15px 0;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}

/* Hébergements à Marseille */
#hosts {
    order:1;
    width:60%;
    border:1px solid #808080;
    display:flex;
    flex-flow:column wrap;
    justify-content: flex-start;
    align-content: center;
}
#hosts_pics {
    border:1px solid black;
    width:90%;
    display:flex;
    flex-flow:column wrap;
    align-items:center;
}
#ho_pi1 {
    border:1px solid black;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
#ho_pi2 {
    border:1px solid black;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.pics {
    border:1px solid black;
}

/* Les plus populaires */
#popular {
    width: 35%;
    order:2;
    border:1px solid grey;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-content:center;
}
#popular_pics {
    border:1px solid black;
    width:90%;
    display:flex;
    flex-direction:column;
}
#po_pi {
    border:1px solid black;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;

}
.pop_pics {
    border:1px solid black;
}

/* Activités à Marseille */
#activities {
    order:3;
    width:100%;
    border:1px solid grey;
}

/* Pied de la page: liste d'aide */
footer {
    border: 1px solid black;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

#footer_block {
    width:95%;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
}
/* A propos */
#frst {
    order:1;
    display:flex;
    flex-direction:column;
    justify-content:flex-start
    border:1px solid grey;
}
/* Nos Hébergements */
#scnd {
    order:2;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    border:1px solid grey;
}
/* Assisstance */
#thrd {
    order:3;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    border:1px solid grey;
}
.txt {

}


/* Ajustement pour les smartphones */
@media all and (max-device-width: 480px)
{
    /* Dimensions de page */
body {
    margin:30px;
    display:flex;
    flex-direction:column;
}

#block_page {
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

/* Partie supérieure de la page: titre, filtres, navigation */
header {
    width:95%;
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

#top {
    border:1px solid grey;
}
#nav {
    border:1px solid grey;
}

/* Contenu de la page: photos */
section {
    width:95%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
#hos_pop {
    margin: 15px 0 15px 0;
    display:flex;
    flex-flow:column wrap;
    justify-content: space-between;
}

/* Hébergements à Marseille */
#hosts {
    order:1;
    width:60%;
    border:1px solid #808080;
    display:flex;
    flex-flow:column wrap;
    justify-content: flex-start;
    align-content: center;
}
#hosts_pics {
    border:1px solid black;
    width:90%;
    display:flex;
    flex-flow:column wrap;
    align-items:center;
}
#ho_pi1 {
    border:1px solid black;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
#ho_pi2 {
    border:1px solid black;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.pics {
    border:1px solid black;
}

/* Les plus populaires */
#popular {
    width: 35%;
    order:2;
    border:1px solid grey;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-content:center;
}
#popular_pics {
    border:1px solid black;
    width:90%;
    display:flex;
    flex-direction:column;
}
#po_pi {
    border:1px solid black;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;

}
.pop_pics {
    border:1px solid black;
}

/* Activités à Marseille */
#activities {
    order:3;
    width:100%;
    border:1px solid grey;
}

/* Pied de la page: liste d'aide */
footer {
    border: 1px solid black;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

#footer_block {
    width:95%;
    display:flex;
    flex-flow:column wrap;
    justify-content: flex-start;
}
/* A propos */
#frst {
    order:1;
    display:flex;
    flex-direction:column;
    justify-content:flex-start
    border:1px solid grey;
}
/* Nos Hébergements */
#scnd {
    order:2;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    border:1px solid grey;
}
/* Assisstance */
#thrd {
    order:3;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    border:1px solid grey;
}
.txt {

}
}




