/* Nouvelle police */
@font-face {
    font-family: 'Raleway';
    src: url('raleway/Raleway.ttf');
}
/* Dimensions de page */
body {
    font-family: 'Raleway';
    margin:auto;
    display:flex;
    flex-direction:column;
}
h2,h3 {
    font-weight:bold;
}
#block_page {
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

/* En-tête */
header {
    width:95%;
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
/* Image de titre et liens de navigation */
#top {
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
}
#top_1 {
    width:65%;
    display:flex;
    justify-content: flex-start;
}
#logo  img{
    width:97px;
    height:45px;
}
#top_2 {
    width:20%;
    display:flex;
    justify-content:space-between;
}
.links a {
    color:#0065FC;
    text-decoration:none;
}
#top_3 {
    width:15%;
    display:flex;
    justify-content: flex-end;
}
#login button{
    font-size:large;
    font-weight:bold;
    border:none;
    background-color:white;
    color:#0065FC;
}
/* Block de navigation et filtres */
#nav {
    display:flex;
    flex-direction:column;
}
/* Barre de navigation */
#nav_bar {
    display:flex;
    flex-direction:row;
    border:1px solid #F2F2F2;
    border-radius: 10px;
    width:360px;
    height:40px;
}
#ico_loc {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 40px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}
i {
    margin: auto;
}
#search {
    font-family: 'Raleway';
    height: 40px;
    width: 200px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
    border:none;
}
button {
    font-family: 'Raleway';
    height: 40px;
    width: 120px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #0065FC;
    font-size: 16px;
    background-color: #0065FC;
    color: white;
}
#filters {
    border:1px solid black;
}


/* Contenu de la page: photos */
section {
    width:95%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
#hos_pop {
    margin: 15px 0 15px 0;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}

/* Hébergements à Marseille */
#hosts {
    order:1;
    width:60%;
    background-color:#F2F2F2;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
}
#hosts_adjust {
    width:90%;
    height:90%;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
}
#hosts_pics {
    height:100%;
    width:100%;
    display:flex;
    flex-flow:column wrap;
    justify-content:space-around;
}
#ho_pi1 {
    height:45%;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
#ho_pi2 {
    height:45%;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.pics {
    background-color: white;
    display:flex;
    flex-direction:column;
    align-items: center;
    border-radius:10px;
    width:31%;
    height:100%;
}
.pics figure {
    height:95%;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding:4px;
}
.pics img {
    border-radius:10px 10px 0 0 ;
    width:100%;
    height:60%;
}
.pics figcaption {
    border-radius:0 0 10px 10px;
    width:100%;
    height:35%;
    font-size:small;
    font-weight:bold;
}

/* Les plus populaires */
#popular {
    width: 35%;
    order:2;
    background-color:#F2F2F2;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
}
#pop_adjust {
    width:90%;
    height:90%;
    display:flex;
    flex-direction: column;
}
#popular_pics {
    width:100%;
    display:flex;
    flex-direction:column;
}
#po_pi {
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.pop_pics {
    border:1px solid black;
    border-radius:10px;
    height:30%;
}

/* Activités à Marseille */
#activities {
    order:3;
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
}
#activities_adjust {
    width:100%;
    display:flex;
    flex-direction: column;
}
#activities_pics {
    width:100%;
    height:auto;
}
#ac_pi {
    width:100%;
    height:auto;
    display:flex;
    flex-direction:row;
}
.act_pics {
    border:1px solid black;
    border-radius:10px;
    width:25%;
    height:auto;
    display:flex;
    flex-flow:column wrap;
    align-items:center;
}

/* Pied de la page */
footer {
    margin: 15px 0 15px 0;
    background-color:#F2F2F2;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}
#footer_block {
    width:95%;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}
/* A propos */
#frst {
    width:33.333%;
    height:auto;
    order:1;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
/* Nos Hébergements */
#scnd {
    order:2;
    width:33.333%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
}
/* Assisstance */
#thrd {
    order:3;
    width:33.333%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
}


/* BREAKPOINT */
/* Ajustement pour les smartphones */

@media all and (max-device-width: 480px)
{
    /* Dimensions de la page */
    body {
        margin:auto;
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    #block_page {
        width: 100%;
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    
    /* En-tête */
    header {
        width:100%;
        display:flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items:center;
    }
    /* Image de titre et liens de navigation */
    #top {
        width:95%;
        display:flex;
        flex-flow:row wrap;
    }
    #top_1 {
        order:1;
        width:50%;
        display:flex;
        justify-content: flex-start;
    }
    #logo img {
        width:97px;
        height:45px;
    }
    #top_2 {
        order:2;
        width:100%;
        display:flex;
        justify-content:space-around;
    }
    .links {
        width:100%;
        text-align:center;   
    }
    #top_3 {
        order:1;
        width:50%;
        display:flex;
        justify-content: flex-end;
    }
    #login {
        width:100%;
        text-align:end;
    }
    /* Barre de navigation et filtres */
    #nav {
        width:95%;
        display:flex;
        flex-direction:column;
    }
    #filters {
        border:1px solid black;
    }
    
    
    /* Contenu de la page: photos */
    section {
        width:100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }
    #hos_pop {
         display:flex;
        flex-flow:column wrap;
    }
    
    /* Hébergements à Marseille */
    #hosts {
        background-color:white;
        order:2;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        align-content: center;
    }
    #hosts_adjust {
        width:95%;
        height:95%;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
    }
    #hosts_pics {
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        align-items:center;
    }
    #ho_pi1 {
        height:40%;
        width:100%;
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    #ho_pi2 {
        height:40%;
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .pics {
        border:1px solid black;
        width:100%;
        height:auto;
    }
    
    /* Les plus populaires */
    #popular {
        width: 100%;
        order:1;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
    }
    #pop_adjust {
        width:95%;
        display:flex;
        flex-direction: column;
    }
    #popular_pics {
        height:auto;
        width:100%;
        display:flex;
        flex-direction:column;
    }
    #po_pi {
        width:100%;
        display:flex;
        flex-direction:column;
    }
    .pop_pics {
        border:1px solid black;
        width:100%;
        height:auto;
    }
    
    /* Activités à Marseille */
    #activities {
        order:3;
        width:100%;
        height:auto;
        display:flex;
        flex-flow:column wrap;
        justify-content: flex-start;
        align-items:center;
    }
    #activities_adjust {
        width:95%;
        display:flex;
        flex-direction: column;
    }
    #activities_pics {
        width:100%;
        height:auto;
    }
    #ac_pi {
        width:100%;
        height:auto;
        display:flex;
        flex-direction:column;
    }
    .act_pics {
        border:1px solid black;
        width:100%;
        height:auto;
        display:flex;
        flex-direction:column wrap;
        align-items:center;
    }
    
    /* Pied de la page */
    footer {
        margin: 15px 0 15px 0;
        width:100%;
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    
    #footer_block {
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items: center;
    }
    /* A propos */
    #frst {
        width:95%;
        height:auto;
        order:1;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
    }
    /* Nos Hébergements */
    #scnd {
        order:2;
        width:95%;
        height:auto;
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
    }
    /* Assisstance */
    #thrd {
        order:3;
        width:95%;
        height:auto;
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
    }
}




