/* Insert the new police */
@font-face {
    font-family: 'Raleway';
    src: url('raleway/Raleway.ttf');
}

/* Body settings */
body {
    background-color: white;
    width: 100%;
}

/* Block_page settings */
#block_page {
    width: 95%;
    padding: 25px;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    font-family:  'Raleway';
}
h2 h3 h4 {
    color: black;
    font-weight: bold;
}

/* Header block */
header {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}
header img {
    width:97px;
    height:45px;
}
    /* Links parameters */
#top {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#links {
    display:flex;
    flex-direction: row;
}
#heb,#act,#ins {
    padding-right: 30px;
}
a {
    text-decoration: none;
}
#act a {
    color: black;
}
#heb a {
    color: #0065FC;
}
#ins a {
    color: #0065FC;
    font-weight:bold;
}
#heb,#ins a:visited {
    color: #0065FC;
}
#act a:visited {
    color:black;
}
a:hover {
    padding-top: 25px;
    border-top: 1px solid #0065FC;
}
    /* Search bar */
#inp_txt {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}
#ico_loc {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 40px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;

}
i {
    margin: auto;
}
#search {
    font-family: 'Raleway';
    height: 40px;
    width: 200px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
}
button {
    font-family: 'Raleway';
    height: 40px;
    width: 120px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #0065FC;
    font-size: 16px;
    background-color: #0065FC;
    color: white;
}


/* Section block */
section {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 500px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* Footer block */
footer {
    font-family: 'Raleway';
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;   
}
footer nav {
    display: flex;
    flex-direction: column;
    padding-right: 300px;
    line-height: 3px;
}
#ft_blk {
    display: flex;
    flex-flow: row wrap;
    margin-left: 10px;
    padding: 10px;
}

/* Inside section block */
#hosts,#pop {
    display: flex;
    flex-flow: column wrap;
    border-radius: 10px;
    padding-left: 25px;
    background-color: #F2F2F2;
}
#hosts {
    width: 62%;

}
#pop {
    width: 30%;
}
#activities {
    width: 100%;
}

